body {
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
}

#copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}

#copyright, #time_div, #feed {
    background-color: rgba(0, 0, 0, .5);
    width: max-content;
    padding: 10px;
}

#time {
    font-size: 5em;
}

#date {
    font-size: 1em;
}

.item {
    border-bottom: 1px solid white;
}

.title {
    color: inherit;
    text-decoration: none;
}

#feed:last-child {
    border-bottom: none;
}

#feed {
    text-align: right;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 75%;
}

#changeFeed {
    position: absolute;
    bottom: 0;
    left: 0;
}
