!!!
%html
  %head
    %title Startpage
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "index.css"}
  %body
    #drawer
      .topLayer
        %span#name
        %span.svg#close{:data => {:icon => "close"}}
    %span.svg#settings{:data => {:icon => "cog"}}
    %script{:src => "index.js"}
